*{
    font-family: Afterglow regular, Geneva, Tahoma, sans-serif;
}

body{
    background-color: #FFE0BF;
    margin:0%    
}

header {     
    background-color: #232F3A;
    padding:1%      
}

img{
    max-width: 100%;
    height: auto;
} 

header img{
    width: 3%;
    height: 3%;       
}

#navContainer{        
    display: inline-block;
    margin-top: 1%;
    margin-left: 1%;              
}

#navButton{     
    border-style: none;
    background-color: #FFE0BF;
}

#navButton:hover{
    transform: rotate(90deg);
    transition: 0.5s;
    color: white;
}

#dropdown{
  display: none;  
  position: absolute;
  background-color: #232F3A;
  min-width: 7%;
  padding: 1% 1%;  
  opacity: 0.8;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#dropdown ul li{
    display: block;
    text-align: center;
    padding: 3%;
    color: white;        
}

#dropdown ul li:hover{
    background-color:#C8785F;
    cursor: pointer ;        
}
  
#navContainer:hover #dropdown {
    display: block;
}

footer {
    display: flex;    
    align-items: center;         
    bottom: 0;
    background-color: #232F3A;
    width: 100%;
    padding-top: 1%;    
}

footer section{
   margin-right: 39%;
   margin-left:1%;
}
footer section p{
    color: white;
}

footer img{    
    width: 8%;
    height: auto;            
}

.infoDiv{        
    display: grid;
    grid-template-areas: "leftContent rightContent";
    grid-template-columns: 48% 48%;
    grid-gap: 2%;
        
}

#mainDiv{
    margin-left:1%;
    margin-right:1%;
    padding: 2%;
    margin-bottom:3%;
}

.leftContent, .rightContent{
    /*background-color: blue;*/
    padding: 1%;    
}

.productGrid{    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-left: 3%;
    padding-top: 1%;
    border-top: #232F3A solid;
    margin-bottom: 3%;  
}

.productHeader{
    display: flex;
    width: 100%;                 
}

.productHeader h3{
    margin: 0;
    width: 80%;    
}
.productHeader h5{
    margin: 0;
}

#loginDiv{    
    margin-left: 10%;
    margin-bottom: 25.5%;        
}

.inputContainer{
    margin-bottom: 1%;
    position: relative;
}

.inputContainer i{
    color: #232F3A;
    position: absolute;
    left: -25px;
}

#adminForm{
   margin: 5%;
}

#productList{  
  width: 40%;
  height: 80%;
  overflow: auto;
  background-color: white;
  border-style: solid;
  border-color: #232F3A; 
}

#openinghours{
    width: 23%;
    border: solid;
    background-color: #FBCBB4; 
}

#openinghours p{    
    margin: 2%;   
}

#productList li, #openinghours li{           
    display: flex;
    justify-content: space-between;
       
}

#productList li{
    border-bottom: solid #232F3A;
    padding: 5%;
}